{% extends 'sfotipy/base.html' %}

{% block title %}
    Registro - Sfotipy
{% endblock %}

{% block content %}
	<br />
	<hr>
	<h1>Ingresa para utilizar Sfotipy</h1>
	<hr>
    <div class="form">
	    <h3><center>Ingresa tus credenciales</center></h3>
	    <form method="post" onsubmit="return mensaje()">
	        {% csrf_token %}

	        Nombres:<br><input type="text" placeholder="Tus nombres" autofocus id="first_name" name = "first_name" class="text" />
	        <br />
	        Apellidos:<br><input type="text" placeholder="Por acá tus apellidos" id="last_name" name = "last_name" class="text" />
	        <br />
	        E-Mail:<br><input type="text" placeholder="Tu correo electrónico" id="email" name = "email" class="text" />
	        <br />
	        Usuario:<br><input type="text" placeholder="Aquí va tu usuario!" id="username" name = "username" class="text" />
	        <br />
	        Contraseña:<br><input type="password" placeholder="Aquí va tu contraseña!" id="password" name = "password" class="text" />

	        <br />
	        <br />
	        <input type="submit" value="Registrarme ahora!" class="button2"/>

	    </form>
    </div>
	
{% endblock %}